.layout {
	text-align: center;
}

.layout-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
 
.layout-content{
	min-height: 42rem;
}